
<!DOCTYPE html>
<html lang="en">
<head>
<title>Bolisetty Tours</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="keywords" content="Bolisetty tours and travels"/>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstrap-css -->
<link href="/assets/web/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!--// bootstrap-css -->
<!-- css -->
<link rel="stylesheet" href="/assets/web/css/style.css" type="text/css" media="all" />
<!--// css -->
<link rel="stylesheet" href="/assets/web/css/owl.carousel.css" type="text/css" media="all">
<link href="/assets/web/css/owl.theme.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/assets/web/css/cm-overlay.css" />
<!-- tabs -->
<link href="/assets/web/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css'/>
<!-- //tabs -->
<!-- font-awesome icons -->
<link href="/assets/web/css/font-awesome.css" rel="stylesheet">
<!-- //font-awesome icons -->
<!-- font -->
<link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
<!-- //font -->
<script src="/assets/web/js/jquery-1.11.1.min.js"></script>
<script src="/assets/web/js/bootstrap.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<script>
$(document).ready(function() {
	$("#owl-demo").owlCarousel({

		autoPlay: 3000, //Set AutoPlay to 3 seconds
		autoPlay:true,
		items : 3,
		itemsDesktop : [640,5],
		itemsDesktopSmall : [414,4]

	});

});
</script>

</head>
<body>
	<!-- banner -->
	<div class="banner jarallax">
		<div class="header">
			<div class="container">
				<div class="header-left">
					<div class="w3layouts-logo">
						<h1>
							<a href="/"><h1>Bolisetty Tours</h1><h3  style="color:royalblue;">INTERNATIONAL</h3></a>
						</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="header-bottom">
			<div class="container">
				<div class="top-nav">
						<nav class="navbar navbar-default">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
								</div>
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
									<li><a class="active" href="{% url 'index' %}">Home</a></li>
									<li><a href="#about" class="scroll">About</a></li>
									<li><a href="#services" class="scroll">Services</a></li>
									<li><a href="#gallery" class="scroll">Gallery</a></li>
									<li><a href="#team" class="scroll">Team</a></li>
									<li><a href="#contact" class="scroll">Contact</a></li>
								</ul>
								<div class="clearfix"> </div>
							</div>
						</nav>
				</div>
				<!-- w3-banner -->
				<div class="w3-banner">
					<div id="typer"></div>
				<!--	<div class="top-banner-right">
						<ul>
							<li><a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a class="facebook" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a class="facebook" href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
							<li><a class="facebook" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
						</ul>
					</div> -->
					<div class="w3ls-phone">
						<h2><i class="fa fa-phone" aria-hidden="true"></i> +91 9246400498</h2>
                        <h2><i class="fa fa-phone" aria-hidden="true"></i> +91 9032219111</h2>
					</div>
				</div>
				<!-- //w3-banner -->
			</div>
		</div>
	</div>
	<!-- //banner -->
	<!-- about -->
	<div class="about" id="about">
		<div class="container">
			<div class="w3ls-heading">
				<h3>About Us</h3>
				<p>Food + Travel + Living</p>
			</div>
			<div class="agileits-about-grids">
				<div class="col-md-6 agileits-about-grid">
					<p>“Travel is the only thing you buy that makes you richer”. We completely swear by this and believe in fulfilling travel dreams that make you invariably rich by the day. We have been selling beautiful experiences for years through our state-of-the-art designed holiday packages and other essential travel services. We inspire our customers to live a rich life, full of unforgettable travel experiences. .</p>
				</div>
				<div class="col-md-6 agileits-about-grid">
					<p>Our mission is not just to be a travel agency which helps you book a holiday; we want to be your travel partner who would go an extra mile to help you choose an ideal destination and learn more about the place you have been dreaming to visit. Since holidays are more about personal choices and interests, we bring to you customizable tour packages as well. We give you the prerogative to pick and choose anything that matches your interest. No matter how many travel experiences we sell every day, we ensure that you are the protagonist of your own travel story..</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="agileinfo-about-slide">
				<div id="owl-demo" class="owl-carousel owl-theme">
					<div class="item">
						<div class="about-grid-info">
							<img src="/assets/web/images/1.jpg" alt="" />
							<div class="about-grid-caption">
								<h4>Bolisetty</h4>
								<p>Rama Krishna</p>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="about-grid-info">
							<img src="/assets/web/images/2.jpg" alt="" />
							<div class="about-grid-caption">
								<h4>Incredible</h4>
								<p>India</p>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="about-grid-info">
							<img src="/assets/web/images/3.jpg" alt="" />
							<div class="about-grid-caption">
								<h4>Beauty</h4>
								<p>Is Destiny</p>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="about-grid-info">
							<img src="/assets/web/images/7.jpg" alt="" />
							<div class="about-grid-caption">
								<h4>Bolisetty</h4>
								<p>Tours</p>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="about-grid-info">
							<img src="/assets/web/images/4.jpg" alt="" />
							<div class="about-grid-caption">
								<h4>Best</h4>
								<p>In Class</p>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="about-grid-info">
							<img src="/assets/web/images/5.jpg" alt="" />
							<div class="about-grid-caption">
								<h4>Bolisetty's</h4>
								<p>Adventure</p>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="about-grid-info">
							<img src="/assets/web/images/1.jpg" alt="" />
							<div class="about-grid-caption">
								<h4>Travel</h4>
								<p>Around The Globe</p>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="about-grid-info">
							<img src="/assets/web/images/2.jpg" alt="" />
							<div class="about-grid-caption">
								<h4>Quality</h4>
								<p>Insane</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //about -->
	<!-- middle-bottom -->
	<div class="middle-bottom" id="services">
		<div class="container">
			<div class="w3ls-heading">
				<h3>Services</h3>
				<p>Andhra Food + Best Quality Travel + Premium Living</p>
			</div>
			<div class="middle-bottom-grids">
				<div class="col-md-6 w3l-one">
					<div class="one">
						<h4><span>01</span>Singapore Malaysia Bangkok Tour</h4>
						<p>Singapore, an island city-state off southern Malaysia, is a global financial center with a tropical climate and multicultural population. Its colonial core centers on the Padang, a cricket field since the 1830s and now flanked by grand buildings such as City Hall, with its 18 Corinthian columns. In Singapore's circa-1820 Chinatown stands the red-and-gold Buddha Tooth Relic Temple, said to house one of Buddha's teeth.</p>

                    </div>
					<div class="one-2">
						<h4><span>02</span>Australia Tour</h4>
						<p>Australia is a country and continent surrounded by the Indian and Pacific oceans. Its major cities – Sydney, Brisbane, Melbourne, Perth, Adelaide – are coastal. Its capital, Canberra, is inland. The country is known for its Sydney Opera House, the Great Barrier Reef, a vast interior desert wilderness called the Outback, and unique animal species like kangaroos and duck-billed platypuses.</p>
					</div>
					<div class="one-3">
						<h4><span>03</span>France Tour</h4>
						<p>France, in Western Europe, encompasses medieval cities, alpine villages and Mediterranean beaches. Paris, its capital, is famed for its fashion houses, classical art museums including the Louvre and monuments like the Eiffel Tower. The country is also renowned for its wines and sophisticated cuisine. Lascaux’s ancient cave drawings, Lyon’s Roman theater and the vast Palace of Versailles attest to its rich history.</p>
					</div>
                    <div class="two-2">
						<h4><span>04</span>Europe Tour</h4>
						<p>Europe is a continent located entirely in the Northern Hemisphere and mostly in the Eastern Hemisphere. It is bordered by the Arctic Ocean to the north, the Atlantic Ocean to the west and the Mediterranean Sea to the south. It comprises the westernmost part of Eurasia.</p>
					</div>
                    <br><br><br>

                    <div class="two-2">
						<h4><span>05</span>Sri-Lanka Tour</h4>
						<p>Sri Lanka (formerly Ceylon) is an island nation south of India in the Indian Ocean. Its diverse landscapes range from rainforest and arid plains to highlands and sandy beaches. It’s famed for its ancient Buddhist ruins, including the 5th-century citadel Sigiriya, with its palace and frescoes. The city of Anuradhapura, Sri Lanka's ancient capital, has many ruins dating back more than 2,000 years.</p>
					</div>

				</div>
				<div class="col-md-6 w3-two">
					<div class="two">
						<h4><span>06</span>Russia Tour</h4>
						<p>Russia, the world’s largest nation, borders European and Asian countries as well as the Pacific and Arctic oceans. Its landscape ranges from tundra and forests to subtropical beaches. It’s famous for Moscow's Bolshoi and St. Petersburg's Mariinsky ballet companies. St. Petersburg, founded by Russian leader Peter the Great, has the baroque Winter Palace, now housing part of the State Hermitage Museum’s art collection.</p>
					</div>
					<div class="two-1">
						<h4><span>07</span>China-Manasarovar Tour</h4>
						<p>China is a populous nation in East Asia whose vast landscape encompasses grassland, desert, mountains, lakes, rivers and more than 14,000km of coastline. Capital Beijing mixes modern architecture with historic sites such as the Forbidden City palace complex and Tiananmen Square. Shanghai is a skyscraper-studded global financial center. The iconic Great Wall of China runs east-west across the country's north.</p>
					</div>

                    <div class="two-2">
						<h4><span>08</span>London Tour</h4>
						<p>London, the capital of England and the United Kingdom, is a 21st-century city with history stretching back to Roman times. At its centre stand the imposing Houses of Parliament, the iconic ‘Big Ben’ clock tower and Westminster Abbey, site of British monarch coronations. Across the Thames River, the London Eye observation wheel provides panoramic views of the South Bank cultural complex, and the entire city.</p>
					</div>
                        <br><br><br><br>
                    <div class="two-2">
						<h4><span>09</span>California Tour</h4>
						<p>California, a western U.S. state, stretches from the Mexican border along the Pacific for nearly 900 miles. Its terrain includes cliff-lined beaches, redwood forest, the Sierra Nevada Mountains, Central Valley farmland and the Mojave Desert. The city of Los Angeles is the seat of the Hollywood entertainment industry. Hilly San Francisco is known for the Golden Gate Bridge, Alcatraz Island and cable cars.</p>
					</div>

				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- //middle-bottom -->
	<!-- portfolio -->
	<div class="portfolio" id="gallery">
		<div class="container">
			<div class="w3ls-heading">
				<h3>Gallery</h3>
				<p>Bolisetty's Travel Testimonials</p>
			</div>
			<div class="agileits_portfolio_grids">
				<div class="col-md-3 agileits_portfolio_grid">
					<div class="agileinfo_portfolio_grid hovereffect">
						<a class="cm-overlay" href="/assets/web/images/sig.jpg">
							<img src="/assets/web/images/sig.jpg" alt=" " class="img-responsive">
							<div class="overlay">
								<h4>Singapore</h4>
								<p>Bolisetty Tours & Travels</p>
							</div>
						</a>
					</div>
					<div class="agileinfo_portfolio_grid hovereffect">
						<a class="cm-overlay" href="/assets/web/images/sig1.jpg">
							<img src="/assets/web/images/sig1.jpg" alt=" " class="img-responsive">
							<div class="overlay">
								<h4>Singapore</h4>
								<p>Bolisetty Tours & Travels</p>
							</div>
						</a>
					</div>
					<div class="agileinfo_portfolio_grid hovereffect">
						<a class="cm-overlay" href="/assets/web/images/aus.jpg">
							<img src="/assets/web/images/aus.jpg" alt=" " class="img-responsive">
							<div class="overlay">
								<h4>Australia</h4>
								<p>Bolisetty Tours & Travels</p>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-3 agileits_portfolio_grid">
					<div class="agileinfo_portfolio_grid hovereffect">
						<a class="cm-overlay" href="/assets/web/images/aus1.jpg">
							<img src="/assets/web/images/aus1.jpg" alt=" " class="img-responsive">
							<div class="overlay">
								<h4>Australia</h4>
								<p>Bolisetty Tours & Travels</p>
							</div>
						</a>
					</div>
					<div class="agileinfo_portfolio_grid hovereffect">
						<a class="cm-overlay" href="/assets/web/images/france.jpg">
							<img src="/assets/web/images/france.jpg" alt=" " class="img-responsive">
							<div class="overlay">
								<h4>France</h4>
								<p>Bolisetty Tours & Travels</p>
							</div>
						</a>
					</div>
					<div class="agileinfo_portfolio_grid hovereffect">
						<a class="cm-overlay" href="/assets/web/images/europe.jpg">
							<img src="/assets/web/images/europe.jpg" alt=" " class="img-responsive">
							<div class="overlay">
								<h4>Europe</h4>
								<p>Bolisetty Tours & Travels</p>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-3 agileits_portfolio_grid">
					<div class="agileinfo_portfolio_grid hovereffect">
						<a class="cm-overlay" href="/assets/web/images/lanka.jpg">
							<img src="/assets/web/images/lanka.jpg" alt=" " class="img-responsive">
							<div class="overlay">
								<h4>Sri-Lanka</h4>
								<p>Bolisetty Tours & Travels</p>
							</div>
						</a>
					</div>
					<div class="agileinfo_portfolio_grid hovereffect">
						<a class="cm-overlay" href="/assets/web/images/russia1.jpg">
							<img src="/assets/web/images/russia1.jpg" alt=" " class="img-responsive">
							<div class="overlay">
								<h4>Russia</h4>
								<p>Bolisetty Tours & Travels</p>
							</div>
						</a>
					</div>
					<div class="agileinfo_portfolio_grid hovereffect">
						<a class="cm-overlay" href="/assets/web/images/china.jpg">
							<img src="/assets/web/images/china.jpg" alt=" " class="img-responsive">
							<div class="overlay">
								<h4>China</h4>
								<p>Bolisetty Tours & Travels</p>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-3 agileits_portfolio_grid">
					<div class="agileinfo_portfolio_grid hovereffect">
						<a class="cm-overlay" href="/assets/web/images/london.jpg">
							<img src="/assets/web/images/london.jpg" alt=" " class="img-responsive">
							<div class="overlay">
								<h4>London</h4>
								<p>Bolisetty Tours & Travels</p>
							</div>
						</a>
					</div>
					<div class="agileinfo_portfolio_grid hovereffect">
						<a class="cm-overlay" href="/assets/web/images/london1.jpg">
							<img src="/assets/web/images/london1.jpg" alt=" " class="img-responsive">
							<div class="overlay">
								<h4>London</h4>
								<p>Bolisetty Tours & Travels</p>
							</div>
						</a>
					</div>
					<div class="agileinfo_portfolio_grid hovereffect">
						<a class="cm-overlay" href="/assets/web/images/cali.jpeg">
							<img src="/assets/web/images/cali.jpeg" alt=" " class="img-responsive">
							<div class="overlay">
								<h4>California</h4>
								<p>Bolisetty Tours & Travels</p>
							</div>
						</a>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
				<script src="/assets/web/js/jquery.tools.min.js"></script>
				<script src="/assets/web/js/jquery.mobile.custom.min.js"></script>
				<script src="/assets/web/js/jquery.cm-overlay.js"></script>
				<script>
					$(document).ready(function(){
						$('.cm-overlay').cmOverlay();
					});
				</script>
		</div>
	</div>
	<!-- //portfolio -->
	<!-- team -->
	<div class="team" id="team">
		<div class="container">
			<div class="w3ls-heading team-heading">
				<h3 style="color: #00b3ee">Our Team</h3>
				<p style="color: #ac2925">Bolisetty's Management Team</p>
			</div>
			<div class="inner_w3l_agile_grids">
				<div id="horizontalTab">
						<ul class="resp-tabs-list">
						<!--<li>
							<img src="/assets/web/images/t11.jpg" alt=" " class="img-responsive" />
						</li>
						<li>
							<img src="/assets/web/images/t22.jpg" alt=" " class="img-responsive" />
						</li>-->
						<li>
							<img src="/assets/web/images/t33.jpg" alt=" " class="img-responsive" />
						</li>
						<li>
							<img src="/assets/web/images/t44.jpg" alt=" " class="img-responsive" />
						</li>
						</ul>
						<div class="resp-tabs-container">
						<!--	<div class="tab1">
								<div class="col-md-6 team-img-w3-agile">
								</div>
								<div class="col-md-6 team-Info-agileits">
									<h4>Lucas Jimenez</h4>
									<span>Photographer</span>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.Lorem ipsum dolor .</p>
								<div class="w3_agileits_social_media team_agile_w3l">
										<ul class="social-icons3">
											<li class="agileinfo_share">Follow In</li>
											<li><a href="#" class="wthree_facebook"> <i class="fa fa-facebook" aria-hidden="true"></i></a></li>
											<li><a href="#" class="wthree_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
											<li><a href="#" class="wthree_dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
											<li><a href="#" class="wthree_behance"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>

							<div class="tab2">
							<div class="col-md-6 team-img-w3-agile">
								</div>
								<div class="col-md-6 team-Info-agileits">
									<h4>Sarah Connor</h4>
									<span>Photographer</span>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.Lorem ipsum dolor .</p>
								<div class="w3_agileits_social_media team_agile_w3l">
										<ul class="social-icons3">
											<li class="agileinfo_share">Follow In</li>
											<li><a href="#" class="wthree_facebook"> <i class="fa fa-facebook" aria-hidden="true"></i></a></li>
											<li><a href="#" class="wthree_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
											<li><a href="#" class="wthree_dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
											<li><a href="#" class="wthree_behance"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
							-->

							<div class="tab3">
								<div class="col-md-6 team-img-w3-agile">
								</div>
								<div class="col-md-6 team-Info-agileits">
									<h4>Bolisetty Rama Krishna</h4>
									<span>Franchise Owner</span>
									<p>Domestic & International tours organizer and owner of Bolisetty Tours & Travels .</p>
						<!--	<div class="w3_agileits_social_media team_agile_w3l">
										<ul class="social-icons3">
											<li class="agileinfo_share">Follow In</li>
											<li><a href="#" class="wthree_facebook"> <i class="fa fa-facebook" aria-hidden="true"></i></a></li>
											<li><a href="#" class="wthree_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
											<li><a href="#" class="wthree_dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
											<li><a href="#" class="wthree_behance"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
										</ul>
									</div> -->
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="tab4">
							<div class="col-md-6 team-img-w3-agile">
								</div>
								<div class="col-md-6 team-Info-agileits">
									<h4>Bolisetty Teja Sai Krishna</h4>
									<span>Proprietor</span>
									<p>Propietor & lead manager at Bolisetty Tours & Travels.</p>
								<!--	<div class="w3_agileits_social_media team_agile_w3l">
										<ul class="social-icons3">
											<li class="agileinfo_share">Follow In</li>
											<li><a href="#" class="wthree_facebook"> <i class="fa fa-facebook" aria-hidden="true"></i></a></li>
											<li><a href="#" class="wthree_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
											<li><a href="#" class="wthree_dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
											<li><a href="#" class="wthree_behance"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
										</ul>
									</div> -->
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //team -->
	<!-- blog -->

    <!--
	<div class="blog" id="blog">
		<div class="container">
			<div class="w3ls-heading">
				<h3>Our Blog</h3>
				<p>Morbi in dui pretium, finibus sapien vel, bibendum ipsum</p>
			</div>
			<div class="w3-agile-blog-grids">
				<div class="w3-agile-blog-grid">
					<div class="col-md-5 w3-agile-blog-left">
						<a href="#" data-toggle="modal" data-target="#myModal"><img src="images/g2.jpg" alt="" /></a>
					</div>
					<div class="col-md-6 w3-agile-blog-right">
						<div class="w3-agile-blog-right-top">
							<div class="blog-left-left">
								<i class="fa fa-pencil" aria-hidden="true"></i>
							</div>
							<div class="blog-left-right-top">
								<h4><a href="#" data-toggle="modal" data-target="#myModal">Integer et turpis augue. In hac habitasse platea dictumst.</a></h4>
								<p>Posted By <a href="#">Admin</a> &nbsp;&nbsp; on June 2, 2016 &nbsp;&nbsp; <a href="#">Comments (10)</a></p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3-agile-blog-right-info">
							<p>Nullam in dui dolor. Donec faucibus, est sed mattis placerat, lorem orci vestibulum lorem, vel accumsan nisl urna eget leo. Cras varius bibendum augue nec pretium. Aenean a ex ante. Nunc ut dignissim justo, ut commodo odio. Donec magna mi, accumsan a mi eu, fermentum tempus elit.</p>
							<a href="#" data-toggle="modal" data-target="#myModal">Read More</a>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="w3-agile-blog-grid">
					<div class="col-md-5 w3-agile-blog-left">
						<a href="#" data-toggle="modal" data-target="#myModal"><img src="images/g7.jpg" alt="" /></a>
					</div>
					<div class="col-md-6 w3-agile-blog-right">
						<div class="w3-agile-blog-right-top">
							<div class="blog-left-left">
								<i class="fa fa-pencil" aria-hidden="true"></i>
							</div>
							<div class="blog-left-right-top">
								<h4><a href="#" data-toggle="modal" data-target="#myModal">Integer et turpis augue. In hac habitasse platea dictumst.</a></h4>
								<p>Posted By <a href="#">Admin</a> &nbsp;&nbsp; on June 2, 2016 &nbsp;&nbsp; <a href="#">Comments (10)</a></p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3-agile-blog-right-info">
							<p>Nullam in dui dolor. Donec faucibus, est sed mattis placerat, lorem orci vestibulum lorem, vel accumsan nisl urna eget leo. Cras varius bibendum augue nec pretium. Aenean a ex ante. Nunc ut dignissim justo, ut commodo odio. Donec magna mi, accumsan a mi eu, fermentum tempus elit.</p>
							<a href="#" data-toggle="modal" data-target="#myModal">Read More</a>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>  -->
	<!-- //blog -->
	<!-- modal -->
	<div class="modal about-modal fade" id="myModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title"><span>Photo</span> Maker</h4>
				</div>
				<div class="modal-body">
					<div class="agileits-w3layouts-info">
						<img src="/assets/web/images/7.jpg" alt="" />
						<p>Duis venenatis, turpis eu bibendum porttitor, sapien quam ultricies tellus, ac rhoncus risus odio eget nunc. Pellentesque ac fermentum diam. Integer eu facilisis nunc, a iaculis felis. Pellentesque pellentesque tempor enim, in dapibus turpis porttitor quis. Suspendisse ultrices hendrerit massa. Nam id metus id tellus ultrices ullamcorper.  Cras tempor massa luctus, varius lacus sit amet, blandit lorem. Duis auctor in tortor sed tristique. Proin sed finibus sem</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //modal -->
	<!-- contact -->
	<div class="contact" id="contact">
		<div class="container">
			<div class="w3ls-heading">
				<h3>Get In Touch</h3>
				<p>Bolisetty Tours and Travels</p>
			</div>
			<div class="contact-grids">
				<div class="col-md-4 contact-left">
					<div class="contact-info">
						<div class="contact-info-left">
							<i class="fa fa-map-marker" aria-hidden="true"></i>

						</div>

						<div class="contact-info-right">
							<h5>Address</h5>
							<p>Gunadala Vantena<br>
								<span>Vijayawada-520004,</span>
								Andhra Pradesh
							</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="contact-info">
						<div class="contact-info-left">
							<i class="fa fa-phone-square" aria-hidden="true"></i>
						</div>
						<div class="contact-info-right">
							<h5>Mobile</h5>
							<ul>
                                <li>+91 9246400498</li>
								<li>+91 9032219111</li>
							</ul>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="contact-info">
						<div class="contact-info-left">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</div>
						<div class="contact-info-right">
							<h5>E-Mail</h5>
							<ul>
								<li><a href="mailto:tejasai7543@gmail.comm">tejasai7543@gmail.com</a></li>

							</ul>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<!--<div class="col-md-8 contact-form">
					<form action="#" method="post">
						<input type="text" name="Name" placeholder="Name" required="">
						<input type="email" class="email" name="Email" placeholder="Email" required="">
						<textarea placeholder="Message" name="Message" required=""></textarea>
						<input type="submit" value="SUBMIT">
					</form>
				</div>-->
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //contact -->
	<div class="footer">
		<div class="container">
		<!--	<div class="social">
				<ul>
					<li><a href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-rss"></i></a></li>
					<li><a href="#"><i class="fa fa-vk"></i></a></li>
				</ul>
			</div> -->
			<div class="border"></div>
			<div class="agileits-w3layouts-copyright">
				<p>© 2019 Bolisetty Tours. All rights reserved | Design by <a href="https://www.linkedin.com/in/raviteja-potluri-504987166/" target="_blank">RaviTeja Potluri</a></p>
            </div>
		</div>
	</div>
	<script src="/assets/web/js/responsiveslides.min.js"></script>
	<script src="/assets/web/js/SmoothScroll.min.js"></script>
	<script src="/assets/web/js/jarallax.js"></script>
	<script type="text/javascript">
				/* init Jarallax */
				$('.jarallax').jarallax({
					speed: 0.5,
					imgWidth: 1366,
					imgHeight: 768
				})
			</script>

	<script type="text/javascript" src="/assets/web/js/move-top.js"></script>
	<script type="text/javascript" src="/assets/web/js/easing.js"></script>
	<script src='/assets/web/js/jquery.typer.js'></script>
	<script>
						var win = $(window),
							foo = $('#typer');

						foo.typer(['Bolisetty Tours', 'Bolisetty Teja', 'Bolisetty Rama Krishna']);

						// unneeded...
						win.resize(function(){
							var fontSize = Math.max(Math.min(win.width() / (1 * 10), parseFloat(Number.POSITIVE_INFINITY)), parseFloat(Number.NEGATIVE_INFINITY));

							foo.css({
								fontSize: fontSize * .8 + 'px'
							});
						}).resize();
					</script>
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
	</script>
	<!-- //here ends scrolling icon -->
	<script src="/assets/web/js/owl.carousel.js"></script>
	<!--tabs-->
	<script src="/assets/web/js/easy-responsive-tabs.js"></script>
	<script>
	$(document).ready(function () {
	$('#horizontalTab').easyResponsiveTabs({
	type: 'default', //Types: default, vertical, accordion
	width: 'auto', //auto or any width like 600px
	fit: true,   // 100% fit in a container
	closed: 'accordion', // Start closed if in accordion view
	activate: function(event) { // Callback function if tab is switched
	var $tab = $(this);
	var $info = $('#tabInfo');
	var $name = $('span', $info);
	$name.text($tab.text());
	$info.show();
	}
	});
	$('#verticalTab').easyResponsiveTabs({
	type: 'vertical',
	width: 'auto',
	fit: true
	});
	});
	</script>
	<!--//tabs-->

</body>
</html>