<!DOCTYPE HTML>

<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Bolisetty Tours And Travels &mdash;</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	</head>
	<body>
    <div class="container">

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                {% if data %}
    <a href="/logout/">Logout</a>
    <table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>customer</th>&nbsp;&nbsp;&nbsp;&nbsp;
            <th>name</th>&nbsp;&nbsp;&nbsp;&nbsp;
            <th>email</th>&nbsp;&nbsp;&nbsp;&nbsp;
            <th>mobile</th>&nbsp;&nbsp;&nbsp;&nbsp;
            <th>destination</th>&nbsp;&nbsp;&nbsp;&nbsp;
            <th>date</th>&nbsp;&nbsp;&nbsp;&nbsp;


        </tr>
        </thead>
<tbody>
{% for i in data %}
    <tr class="success">
        <td>{{ i.customer }}</td>&nbsp;&nbsp;&nbsp;&nbsp;
        <td>{{ i.name }}</td>&nbsp;&nbsp;&nbsp;&nbsp;
        <td>{{ i.email }}</td>&nbsp;&nbsp;&nbsp;&nbsp;
        <td>{{ i.mobile }}</td>&nbsp;&nbsp;&nbsp;&nbsp;
        <td>{{ i.destination }}</td>&nbsp;&nbsp;&nbsp;&nbsp;
        <td>{{ i.date }}</td>&nbsp;&nbsp;&nbsp;&nbsp;

    </tr>

{% endfor %}
</tbody>
</table>

{% endif %}

            </div>

        </div>

    </div>


	</body>
</html>

